.navbar-brand {
	background: url(https://d1pqgpjinf0thr.cloudfront.net/assets/general/basecamp-a3c9e389acdeba3ac2bd084d0ce0462b.png) 0 5px no-repeat;
	background-size: 190px;
	width: 202px;
	text-indent: -1000px;
	overflow: hidden;
}